{{#> template}}
  {{#*inline "content"}}
    <main role="main">
        <div class="container container-fluid">
            <h2>{{title}}</h2>
            <hr />
            <div class="row">
                <p>{{message}}</p>
            </div>
        </div>
    </main>
  {{/inline}}
{{/template}}