# .env
cdogs_service_client_id=TICDI_SERVICE_CLIENT
cdogs_service_client_secret=<populate from https://getok.nrs.gov.bc.ca/app/apps/TICDI>
cdogs_url=https://cdogs-dev.apps.silver.devops.gov.bc.ca/api/v2/template/render
CDOGS_TOKEN_ENDPOINT=https://dev.oidc.gov.bc.ca/auth/realms/jbd6rnxw/protocol/openid-connect/token
TTLS_API_KEY=<populate from John Vestner>
TTLS_URL=https://i1api.nrs.gov.bc.ca/ttls-api/v1/dispositionTrans/info/
ticdi_environment=DEVELOPMENT
SESSION_PATH=/tmp/sessions
cookie_secret=<whatever you want in delevelopment>
session_secret=<whatever you want in development>