{{#> template}}
  {{#*inline "content"}}
    <main role="main">
        <div class="container">
            <h1>System Administration</h1>
            <hr />            
            <div class="col-md-6">
                <h3>List of TICDI Administrators</h3>
            </div>
            {{!-- <div class="form-group row">
                <div class="col-md-5">
                    <input type="text" class="border border-1 rounded pl-2 ml-4" id="searchInput" placeholder="Enter Last Name or User Name" style="min-width: 350px">
                </div>
                <div class="col-md-3">
                    <button id="searchButton" class="btn btn-primary" onclick="searchUsers()">Search</button>
                </div>
            </div> --}}
            {{!-- <hr /> --}}
            <div class="form-group row">
                <div class="col-md-12">
                    <table id="usersTable">
                        <thead>
                            <th style="min-width:250px">Name</th>
                            <th style="min-width:250px">User Name</th>
                            <th style="min-width:250px">Email</th>
                            <th style="min-width:80px"></th> <!-- remove button -->
                            <th style="display:none"></th> <!-- id -->
                        </thead>
                        <tbody id="usersTableBody"><tr></tr></tbody>
                    </table>
                </div>
            </div>
            <div class="form-group row">
                    <div class="col-md-7"></div>
                    <div class="col-md-2">
                        <button id="exportUserList" class="btn btn-info" onclick="exportUserList()" style="background-color:teal; color:white">Export User List</button>
                    </div>
                    <div class="col-md-3">
                        <button id="addAdministrator" class="btn btn-primary" onclick="addAdministratorButton()">Add Administrator</button>
                    </div>
                </div>
            <hr />
            <div class="col-md-3">
                <h3>Manage Templates</h3>
            </div>
            {{!-- <hr /> --}}
            <div class="col-md-3">
                <h4>Select a Template:</h4>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <select id="reportTypes" style="min-width: 200px" class="border border-1 rounded pl-2 ml-4">
                        {{#each reportTypes}}
                        <option value="{{this.reportIndex}}">{{this.reportType}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="col-md-3">
                    <button id="manageButton" class="btn" onclick="manageReports()" style="background-color:purple; color:white">Manage</button>
                </div>
            </div>
        </div>
        <div id="addAdministratorModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add Administrator</h4>
                    </div>
                    <div class="modal-body">
                        <div id="addAdministratorBody">
                            <div class="form-group row mb-0">
                                <div class="col-md-6 ml-3">
                                    <label for="searchEmail" style="font-weight:bold">Email:</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-10 ml-3">
                                    <input id="searchEmail" value="" style="width: 100%">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4 ml-3">
                                    <button id="searchUsersButton" class="btn btn-success" onclick="searchUsers()">Search</button>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <div class="col-md-6 ml-3">
                                    <label for="searchSurname" style="font-weight:bold">Surname:</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-10 ml-3">
                                    <input id="searchSurname" value="" style="width: 100%" readonly disabled>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <div class="col-md-6 ml-3">
                                    <label for="searchGivenName" style="font-weight:bold">Given Name 1:</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-10 ml-3">
                                    <input id="searchGivenName" value="" style="width: 100%" readonly disabled>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <div class="col-md-3 ml-3">
                                    <label for="searchUsername" style="font-weight:bold">Username: </label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-10 ml-3">
                                    <input id="searchUsername" value="" style="width: 100%" readonly disabled>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <div class="col-md-6 ml-3">
                                    <label for="searchRole" style="font-weight:bold">Role:</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-10 ml-3">
                                    <select id="searchRole" style="width: 100%" readonly disabled>
                                        <option>TICDIADMIN</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <div class="col-md-6 ml-3">
                                    <label style="font-weight:bold">Status:</label>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <div class="col-md-1"></div>
                                <div class="col-md-6">
                                    <label for="searchStatusActive">Active:</label>
                                    <input id="searchStatusActive" type="radio" name="adminStatus" checked disabled>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <div class="col-md-1"></div>
                                <div class="col-md-6">
                                    <label for="searchStatusInactive">Inactive:</label>
                                    <input id="searchStatusInactive" type="radio" name="adminStatus" disabled>
                                </div>
                            </div>
                            <div class="text-center">
                                <div class="alert alert-danger modal-alert" style="display:none;"></div>
                            </div>
                        </div>
                        <input id="searchIdirUsername" style="display:none" value="">
                    </div>
                    <div class="modal-footer d-flex justify-content-between">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button id="addAdminButton" type="button" class="btn btn-primary" onclick="addAdmin()" disabled>Add Administrator</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="removeAdminModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Remove Administrator</h4>
                    </div>
                    <div class="modal-body">
                        <div id="removeAdminBody">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <p>Are you sure you want to remove this administrator?</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2 ml-3">
                                    <label for="removeName">Name:</label>
                                </div>
                                <div class="col-md-9">
                                    <input id="removeName" value="" style="color:gray; min-width: 270px" readonly>
                                </div>
                                <div class="col-md-2 ml-3">
                                    <label for="removeUsername">Username:</label>
                                </div>
                                <div class="col-md-9">
                                    <input id="removeUsername" value="" style="color:gray; min-width: 270px" readonly>
                                </div>
                                <div class="col-md-2 ml-3">
                                    <label for="removeEmail">Email:</label>
                                </div>
                                <div class="col-md-9">
                                    <input id="removeEmail" value="" style="color:gray; min-width: 270px" readonly>
                                </div>
                            </div>
                            <input id="removeIdirUsername" value="" style="display: none">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary remove-admin-finalize">Yes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script>
        let usersTable;
        $( document ).ready(function() {
            usersTable = $('#usersTable').DataTable({
                "ajax": {
                    "url": "admin/get-admins",
                    "dataSrc": ""
                },
                "paging": true,
                "bFilter": true,
                "columns": [
                    { data: "name"},
                    { data: "username"},
                    { data: "email"},
                    { data: "remove"},
                    { data: "idirUsername"}
                ],
                "columnDefs": [
                    {
                        "targets": [0, 1, 2, 3, 4],
                        "render": function (data, type, row, meta) {
                        if (type === 'display') {
                            var columnTypes = ["name", "username", "email", "remove", "idirUsername"];
                            var columnType = columnTypes[meta.col];
                            var username = row["username"];
                            var idirUsername = row["idirUsername"];

                            if (columnType === "remove") {
                                return "<a href='#' class='remove-admin-link' data-id='" + username + "'>" + data + "</a>";
                            } else if (columnType === "idirUsername") {
                                return "<input type='hidden' id='" + columnType + "-" + username + "' value='" + data + "' />";
                            } else {
                                return "<input type='text' id='" + columnType + "-" + username + "' value='" + data + "' readonly style='color: gray; width: 100%;' />";
                            }
                        } else {
                            return data;
                        }
                        }
                    },
                    {
                        "targets": [3, 4],
                        "orderable": false,
                        "searchable": false,
                    },
                    {
                        "targets": 4,
                        "visable": "false"
                    }
                ],
                "createdRow": function (row, data, dataIndex) {
                    $(row).attr("id", "row-" + data["idirUsername"]);
                },
                "order": [
                    [0, "asc"]
                ]
            });
        });
        $('#addAdministratorModal').on('hidden.bs.modal', function () {
            $('#searchEmail').val('');
            $('#searchSurname').val('');
            $('#searchGivenName').val('');
            $('#searchUsername').val('');
            $('#searchIdirUsername').val('');
            const addAdminButton = document.getElementById('addAdminButton');
            addAdminButton.disabled = true;
        });
        $(document).on("click", ".remove-admin-link", function () {
            const username = $(this).data('id');
            const name = $(`#name-${username}`).val();
            const idirUsername = $(`#idirUsername-${username}`).val();
            const email = $(`#email-${username}`).val();
            $("#removeAdminModal #removeName").val(name);
            $("#removeAdminModal #removeUsername").val(username);
            $("#removeAdminModal #removeEmail").val(email);
            $("#removeAdminModal #removeIdirUsername").val(idirUsername);
            $("#removeAdminModal").modal("show");
        });
        $(document).on("click", ".remove-admin-finalize", function () {
            const idirUsername = $("#removeIdirUsername").val();
            removeAdmin(idirUsername);
            $("#removeAdminModal").modal("hide");
        });
        function manageReports() {
            window.location.href = '/manage-templates?report='+$('#reportTypes option:selected').val();
        }
        async function searchUsers() {
            const button = document.getElementById('searchUsersButton');
            const button2 = document.getElementById('addAdminButton');
            button.disabled = true;
            button2.disabled = true;
            button.innerHTML = '<div class="lds-ring"><div></div><div></div><div></div><div></div></div>';
            const searchParams = {
                email: $('#searchEmail').val(),
            }
            const result = await fetch(`/admin/search-users`, {
                method: 'POST',
                headers: {'Content-Type': 'application/json',},
                body: JSON.stringify(searchParams)
                })
                .then((res) => res.json())
                .then((resJson) => {
                    button.innerHTML = 'Search';
                    button.disabled = false;
                    button2.disabled = $('#searchIdirUsername').val().length > 0 ? false : true;
                    return resJson;
                })
                .catch((err) => {
                    button.innerHTML = 'Search';
                    button.disabled = false;
                    button2.disabled = $('#searchIdirUsername').val().length > 0 ? false : true;
                    console.log(err);
                });
            if (!result.error) {
                const adminObject = result.userObject;
                $('#searchSurname').val(adminObject.lastName);
                $('#searchGivenName').val(adminObject.firstName);
                $('#searchUsername').val(adminObject.username);
                $('#searchIdirUsername').val(adminObject.idirUsername);
                button2.disabled = false;
            } else {
                displayModalAlert(result.error);
            }
        }
        async function addAdmin() {
            const button = document.getElementById('addAdminButton');
            button.disabled = true;
            button.innerHTML = '<div class="lds-ring"><div></div><div></div><div></div><div></div></div>';
            const searchParams = {
                idirUsername: $('#searchIdirUsername').val(),
            }
            const result = await fetch(`/admin/add-admin`, {
                method: 'POST',
                headers: {'Content-Type': 'application/json',},
                body: JSON.stringify(searchParams)
                })
                .then((res) => res.json())
                .then((resJson) => {
                    button.innerHTML = 'Add Administrator';
                    button.disabled = false;
                    return resJson;
                })
                .catch((err) => {
                    button.innerHTML = 'Add Administrator';
                    button.disabled = false;
                    console.log(err);
                });
            if (!result.error) {
                const adminObject = result.userObject;
                usersTable.row.add({
                    name: adminObject.name, 
                    username: adminObject.username, 
                    email: adminObject.email,
                    remove: adminObject.remove, 
                    idirUsername: adminObject.idirUsername})
                    .draw();
                $('#addAdministratorModal').modal('hide');
            } else {
                displayModalAlert(result.error);
            }
        };
        function displayModalAlert(error) {
            if (error !== null) {
                var modal = $("#addAdministratorModal");
                var modalAlert = modal.find(".modal-alert");
                modalAlert.text(error);
                modalAlert.fadeIn();
                setTimeout(function() {
                modalAlert.fadeOut();
                }, 4000);
            }
        }
        async function removeAdmin(idirUsername) {
            await fetch(`/admin/remove-admin/${idirUsername}`, {
                method: 'GET'
                })
                .then((res) => res.json())
                .then((resJson) => {
                    if (resJson.message == 'success') {
                        usersTable.row("#row-"+idirUsername).remove().draw();
                    } else {
                        console.log(resJson.message);
                    }
                    $("#removeAdminModal").modal("hide");
                })
                .catch((err) => console.log(err));
        }
        function addAdministratorButton() {
            $('#addAdministratorModal').modal('show');
        }
        async function exportUserList() {
            const data = await fetch('admin/get-export-data', {
                    method: 'GET'
                })
                .then((res) => res.json())
                .then((resJson) => {return resJson})
                .catch((err) => console.log(err));
            const csv = convertToCSV(data);
            const blob = new Blob([csv], {type: "text/csv"});
            const link = document.createElement("a");
            const timeString = getDateTimeForFileName();
            link.href = URL.createObjectURL(blob);
            link.download = `user_list-${timeString}.csv`;
            link.click();
        }
        function convertToCSV(data) {
            const header = ["firstName", "lastName", "email", "username", "idir_user_guid", "idir_username", "display_name"];
            const rows = data.map(d => [d.firstName, d.lastName, d.email, d.username, d.idir_user_guid, d.idir_username, d.display_name]);
            const csv = [header, ...rows].map(r => r.join(",")).join("\n");
            return csv;
        }
        function getDateTimeForFileName() {
            const date = new Date();
            const year = date.getFullYear();
            const month = (date.getMonth() + 1).toString().padStart(2, "0");
            const day = date.getDate().toString().padStart(2, "0");
            const hours = date.getHours().toString().padStart(2, "0");
            const minutes = date.getMinutes().toString().padStart(2, "0");
            const seconds = date.getSeconds().toString().padStart(2, "0");
            return `${year}-${month}-${day}_${hours}-${minutes}-${seconds}`;
        }
    </script>
  {{/inline}}
{{/template}}