{{#> template}}
  {{#*inline "content"}}
    <main role="main">
        <div class="container">
            <h1>System Administration</h1>
            <hr />            
            <div class="col-md-3">
                <h3>Manage Users</h3>
            </div>
            <div class="form-group row">
                <div class="col-md-5">
                    <input type="text" class="border border-1 rounded pl-2 ml-4" id="userSearch" placeholder="Enter Last Name or User Name" style="min-width: 350px">
                </div>
                <div class="col-md-3">
                    <button id="manageButton" class="btn btn-primary" onclick="searchUsers()">Search</button>
                </div>
            </div>
            <hr />
            <div class="form-group row">
                <div class="col-md-12">
                    <table>
                        <thead>
                            <th>Name</th>
                            <th>User Name</th>
                            <th>Role</th>
                            <th>Status</th>
                            <th></th>
                            <th></th>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="text" class="border border-1 rounded pl-2" value="Eric Anderson" style="color:gray" readonly></td>
                                <td><input type="text" class="border border-1 rounded pl-2" value="ERANDERS" style="color:gray" readonly></td>
                                <td><input type="text" class="border border-1 rounded pl-2" value="TICDIUSER" style="color:gray" readonly></td>
                                <td><input type="text" class="border border-1 rounded pl-2" value="Active" style="color:gray" readonly></td>
                                <td><a href="#">Edit</a></td>
                                <td><a href="#">Remove</a></td>
                            </tr>
                            <tr>
                                <td><input type="text" class="border border-1 rounded pl-2" value="Phil Arctander" style="color:gray" readonly></td>
                                <td><input type="text" class="border border-1 rounded pl-2" value="PARCTAN" style="color:gray" readonly></td>
                                <td><input type="text" class="border border-1 rounded pl-2" value="TICDIADMIN" style="color:gray" readonly></td>
                                <td><input type="text" class="border border-1 rounded pl-2" value="Active" style="color:gray" readonly></td>
                                <td><a href="#">Edit</a></td>
                                <td><a href="#">Remove</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-group row">
                    <div class="col-md-8"></div>
                    <div class="col-md-2">
                        <button id="exportUserList" class="btn btn-info" onclick="exportUserList()" style="background-color:teal; color:white">Export User List</button>
                    </div>
                    <div class="col-md-2">
                        <button id="addAUser" class="btn btn-primary" onclick="addAUser()">Add a User</button>
                    </div>
                </div>
            <hr />
            <div class="col-md-3">
                <h3>Manage Templates</h3>
            </div>
            <hr />
            <div class="col-md-3">
                <h4>Select a Template:</h4>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <select id="reportTypes" style="min-width: 200px" class="border border-1 rounded pl-2 ml-4">
                        {{#each reportTypes}}
                        <option value="{{this.reportIndex}}">{{this.reportType}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="col-md-3">
                    <button id="manageButton" class="btn" onclick="manageReports()" style="background-color:purple; color:white">Manage</button>
                </div>
            </div>
        </div>
    </main>
    <script>
        var dataArray = [];
        $( document ).ready(function() {})
        // when the selected option changes, update the table
        function manageReports() {
            window.location.href = '/manage-templates?report='+$('#reportTypes option:selected').val();
        }
        function searchUsers() {
            console.log("search users");
        }
    </script>
  {{/inline}}
{{/template}}